# Python Tutorial for experienced developers

다른 언어에 대한 경험이 있는 개발자들을 위한 Python Tutorial입니다.<br>
Python 언어에 대한 모든 부분을 다루는 것은 책을 보는것을 권합니다.<br>
해당 문서는 다른 언어와 다른 features들에 초점을 맞췄습니다.

In [44]:
import numpy as np 
from pprint import pprint as pp

### Data Types

In [52]:
name = 'Anderson Jo' # String 
age = 34 # Integer
height = 183.2 # Float 
etc = ['anderson', 'foo', 13, 24, 3.141596] # List 
movie_rates = {'슈퍼맨': 3.14, '매트릭스': 5, '닥터 스트레인지': 4.5, '러브스토리': 0} # Dictionary 
friends = {'영희', '철수', '영희', '병두', '창범'}


print(f'{name}의 나이는 {age}이고, 키는 {height}cm 입니다.')
print('\n영화 점수')
for k, v in movie_rates.items():
    print(f'[{k}]:\t {v}')
    
print('\n친구들:', ', '.join(friends))

Anderson Jo의 나이는 34이고, 키는 183.2cm 입니다.

영화 점수
[슈퍼맨]:	 3.14
[매트릭스]:	 5
[닥터 스트레인지]:	 4.5
[러브스토리]:	 0

친구들: 병두, 철수, 영희, 창범

### List Comprehension

List Comprehension을 사용시 C언어에서 돌아가기 때문에 매우 빠르게 연산이 됩니다. <br>
아래 예제는 for문을 돌면서 square를 하였습니다.

In [34]:
[i**2 for i in range(-2, 5)]

[4, 1, 0, 1, 4, 9, 16]

### Lambda & Map & Filter

In [80]:
f = lambda x: x * 0.5
f(10)

5.0

In [69]:
f = map(lambda x: x**2, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(list(f))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
f = filter(lambda x: x%2 == 0, range(10))
print(list(f))

[0, 2, 4, 6, 8]

### Function

In [84]:
def greeting(name, say='Hi!'):
    return f'{say} {name}'

greeting('Anderson')

'Hi! Anderson'

### Argument Passing

In [100]:
def foo(*args, **kwargs):
    print(args) # Tuple
    print(kwargs) # Dictionary
    
foo(1,2,3, name='Anderson', face='awesome')

(1, 2, 3)
{'name': 'Anderson', 'face': 'awesome'}

In [8]:
def summation(a, b, c=10, d=20, *args):
    return sum([a, b, c, d] + list(args))

data = [1,2,3,4,5,6,7,8,9,10]

print('(1, 2) ->\t', summation(1, 2))
print('(1, 2, 0, 0) ->\t', summation(1, 2, 0, 0))
print('(1, 2, *data)->\t', summation(1, 2, *data))

(1, 2) ->	 33
(1, 2, 0, 0) ->	 3
(1, 2, *data)->	 58

### Forloop & Break

In [101]:
for i in range(10):
    print(i)
    break
else:
    print('End')

0

In [103]:
for i in range(10):
    print(i)
else:
    print('End')

0
1
2
3
4
5
6
7
8
9
End

### Class

Human class는 name argument를 받는 constructor를 갖고 있습니다.<br>
SalaryMan class는 연봉을 계산할때 1.5를 더해줍니다. <br>
Machine Learning Engineer class는 SalaryMan의 caculate method를 실행시킨 결과에 다시 보너스 1.2배를 해준 값을 리턴합니다.

In [110]:
class Human(object):
    def __init__(self, name):
        self.name = name

class SalaryMan(Human):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
    
    def calculate(self):
        return self.salary * 1.5

class MachineLearningEngineer(SalaryMan):
    
    def calculate(self, bonus=1.2):
        return super().calculate() * bonus

anderson = MachineLearningEngineer('Anderson', 1000)
anderson.calculate()

1800.0

### Private Memebers and Properties

파이썬에서는 Java처럼 boilerplate인 getter 또는 setter의 사용을 하지 안습니다. <br>
대신 property의 개념을 사용합니다. 

**Private Members**<br>
Convention상 public instance members는 self.foo 처럼 사용을 합니다. <br>
하지만 private으로 간주될 경우 instance members 앞에  underbar를 붙여줍니다. 예를 들어서 self._foo 처럼 합니다. 

**Property**<br>
기본적으로 파이썬에서 getter 또는 setter를 사용하지않고 direct로 instance members를 access합니다.<br>
getter 또는 setter에서 사용되는 logic이 필요할 경우 추후 추가적으로 property를 사용할수 있습니다.<br>
@property 를 사용하여서 getter를 만들고, @value.setter처럼 setter를 만들수 있습니다.

In [115]:
class Foo(object):
    def __init__(self, value=50):
        self._value = 50
    
    @property
    def value(self):
        return f'{self._value} 값이다!'
    
    @value.setter
    def value(self, value):
        self._value = value
    

foo = Foo()
print(foo.value)

foo.value = 2000
print(foo.value)

50 값이다!
2000 값이다!