In [81]:
import dask.dataframe as dd
import dask.array as da
import pandas as pd

## Read CSV

In [2]:
df = dd.read_csv('mall_customer.csv')                                                            
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## Group by and Mean

In [3]:
df.groupby('Gender').mean().compute()

        CustomerID        Age  Annual Income (k$)  Spending Score (1-100)
Gender
Female   97.562500  38.098214           59.250000               51.526786
Male    104.238636  39.806818           62.227273               48.511364

# Unstack

## Pandas

In [62]:
df = pd.DataFrame([[0, 1], [2, 3]], index=['cat', 'dog'],columns=['weight', 'height'])
display(df)

# Stack
print('\n[Stack]')
display(df.stack())

# Unstack
print('\n[Unstack]')
display(df.unstack())

     weight  height
cat       0       1
dog       2       3

[Stack]

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

[Unstack]

weight  cat    0
        dog    2
height  cat    1
        dog    3
dtype: int64

## Dask

In [88]:
ddf = dd.from_pandas(df, npartitions=2)
display(ddf.head())

da.stack(ddf['weight'])

     weight  height
cat       0       1
dog       2       3

NotImplementedError: